.flex-container {width: 1440px; height: 1721px; 
}
.box-1 {width: 1336px; height: 178px; margin: 0 auto; display: flex;
}
.title-1 {font-size: 16px; 
}
.title-2 {font-size: 56px; line-height: 62px; 
}
.text-1 {font-size: 20px; line-height: 35px; 
}